body{
    background-color: rgb(20, 22, 21);
    background-image: center;
    margin-left: 30%;
    height:100vh;
    width: 100%;

}
h1{
    font-size: 3vh;
    font-style: italic;
    color: black;
    display: flex;
    letter-spacing: 1px;
    margin-left: 5%;
    text-transform: uppercase;
    
}
form{
    width:20%;
    height:50vh;
    padding-left: 2%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 0, 17);
    text-align: center;
}
input{
height: 3vh;
width: 60%;
margin-top: 15%;
}
button{
    height: 3vh;
    width: 40%;
    margin-top: 10%;
}
{
button:hover;

}